<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FirstTestSuite">
	<test thread-count="5" name="EnterApplicantID">
		<classes>
			<class name="testCases.LoginToScipio" />
			<class name="testCases.CreateApplicant" />
		</classes>
	</test> <!-- EnterApplicantID -->
</suite> <!-- FirstTestSuite -->
